<div class="page">
  <header class="header">
    <h1>Your Car Your Way: TalkJS Support Chat (POC)</h1>
    <button *ngIf="selected" (click)="logout()">Déconnexion</button>
  </header>

  <section *ngIf="!selected" class="login">
    <h2>Connexion POC (mocks JSON)</h2>
    <p>Sélectionne un utilisateur :</p>

    <div class="users">
      <button *ngFor="let u of users" (click)="login(u)">
        Se connecter : {{ u.username }}
      </button>
    </div>
  </section>

  <section *ngIf="selected" class="chat">
    <div #talkjsContainer class="talkjs-container"></div>
  </section>
</div>
